

{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('frontOffice/assets/css/login.css')}}">
    <link href="{{asset('frontOffice/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <div class="limiter" style="background-image: url({{ asset('frontOffice/assets/images/loginBackground.png')}});">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form ">
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                    <div class="login100-form-title" style="margin-top: 5%">Libro</div>
                    {% include 'flash_messages.html.twig' %}
                    {{ form_widget(form.email_login, {  'attr': {'placeholder': 'Numero Tel :','class': '','novalidate': 'novalidate' } }) }}

                    <button class="btn loginButton" type="submit" style="margin-top: 5%">
                        Envoyer SMS
                    </button>
                    {{ form_end(form) }}
                </div>
                <div class="login100-more" style="background-image: url({{ asset('frontOffice/assets/images/loginBooks1.jpg')}});"></div>
            </div>
        </div>
    </div>
{% endblock %}
