{% extends 'base_front.html.twig' %}
{% block title %}PackJeton index{% endblock %}

{% block body %}

    <h1>PackJeton index</h1>

    <div style="margin-bottom: 100px ;width: 50px ;height: 50px"></div>

    <h4>Solde :  </h4>
    <div class="container">
        {% include 'flash_messages.html.twig' %}

        {% for pack_jeton in pack_jetons %}
            <div class="row" >
                <div class="col-md-12" >
                    <div class="product-item">
                        <a href="#"><img src={{ asset('uploads/dicedreams-dicedream.gif') }} alt="" style = "width: 100px ;height: 100px"></a>
                        <div class="down-content">
                            <h4>{{ pack_jeton.quantiePack }} Coins</h4>
                            <h6>${{ pack_jeton.prixPack }}</h6>
                            <p>{{ pack_jeton.descriptionPack }}</p>

                            <a href="{{ path('app_jeton_acheter', {'idPack': pack_jeton.idPack}) }}" class="btnEventAccueil">Acheter</a>
                            <span>Acheter</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}