{%  extends 'base_back.html.twig'  %}
{% block title %}Contrat index{% endblock %}

{% block body %}
    <h1>Contrat index</h1>
<script src="{{ asset('backOffice/js/jquery.min.js') }}"></script>
<input type="text" class="form-control" placeholder="Search…" aria-label="Search"id="search">
<div class="table-responsive">
    <table class="table table-responsive-md" id="tableac">

        <thead>
            <tr>
                <th>IdContrat</th>
                <th>DureeContrat</th>
                <th>DescriptionContrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.idContrat }}</td>
                <td>{{ contrat.dureeContrat }}</td>
                <td>{{ contrat.descriptionContrat }}</td>
                <td>
                    <a href="{{ path('app_contrat_show', {'idContrat': contrat.idContrat}) }}">show</a>
                    <a href="{{ path('app_contrat_edit', {'idContrat': contrat.idContrat}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
    <a href="{{ path('app_contrat_new') }}">Create new</a>
    </div>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>
{% endblock %}
